.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn_pausar {
  background-color: red;
}

.btn_continuar {
  background-color: green;
}

button{
  color: white;
  height: 25px;
  font-weight: 600;
  margin-right: 20px;
}

.botoes{
  display: flex;
  justify-content: center;
}

